:root {
  --primary-color: #466FFF;
  --text-color: #fff;
  --secondary-text-color: #444444;
  --tertiary-text-color: #7A7A7A;
  --accent-color: #aaaaaa;
  --background-gradient: linear-gradient(19deg, #21D4FD 0%, #5533ff 100%);
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
}

.background {
  height: 100%;
  background-image: var(--background-gradient);
  transform-origin: 0;
  transform: skewY(-40deg);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  position: relative;
}

.app__container {
  position: absolute;
  width: 100%;
  top: 1em;
  padding: 1em;
}

.offline__indicator {
  background: var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 5px;
  left: 5px;
}

/* autocomplete */
.autocomplete__input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  text-indent: 10px;
}

.autocomplete__options {
  padding: 0;
  list-style-type: none;
}

.autocomplete__item {
  padding: 10px;
  font-size: 2em;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  background: var(--text-color);
  color: var(--secondary-text-color);
}
