* {
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app__container {
  padding: 1em;
}

.gradient {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.train__card {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  margin-bottom: 1em;
}

.autocomplete__item {
  cursor: pointer;
}

.offline__indicator {
  background: #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 5px;
  left: 5px;
}

/* autocomplete */
.autocomplete__input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  border: 1px solid #aaaaaa;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

.autocomplete__options {
  padding: 0;
  list-style-type: none;
}

.autocomplete__item {
  padding: 10px;
  font-size: 2em;
  border: 1px solid #aaaaaa;
}
